services:
  - type: web
    name: sathyathi-digital
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: MONGO_URI
        sync: false
      - key: MYSQL_URI
        value: mysql://u389460441_accounts:Accounts%402025@193.203.184.173:3306/u389460441_accounts
